@import "normalize.scss";
@import "slick";
@import "layout.scss";


@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&subset=cyrillic');

$body-font: 'Oswald', sans-serif;;
$text-color: #4d4d4d;
$secondary-color: #00bd08;

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-xlarge: 1200px;

body{
	font: 400 16px/1.6 $body-font;
	color: $text-color;
}


/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	height: 50px;
	border: 1px solid $text-color;
	background: none;
	line-height: 50px;
	text-decoration: none;
	color: $text-color;
	padding: 0 30px;
	color: $text-color;
	letter-spacing: 0.05em;
	font-weight: 500;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	color: $secondary-color;
	border: 1px solid transparent;
	background: #FFF;
	color: $text-color;
	box-shadow: 17px -6px 26.68px 2.32px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header {
	background-color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 5px;
	z-index: 10;

	&__body {
		display: flex;
		justify-content: space-between;
	}
}

.ba-logo {
	display: block;
	width: 120px;
	float: left;
	vertical-align: middle;
	@media (max-width: $bp-medium) {
		width: 90px;
	}
}

.ba-nav {
	width: 65%;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media (max-width: $bp-large) {
		width: 85%;
	}

}

.ba-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	li {
		display: inline-block;
		padding: 0;
	}

	a {
		text-decoration: none;
		display: block;
		color: $text-color;
		padding: 0 5px 5px;
		letter-spacing: 0.05em;
		border-bottom: 2px solid transparent;
		@media (max-width: $bp-medium) {
			font-size: 12px;
		}

		&:hover {
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
		}
	}
}

// intro

.ba-intro {
	background: #e2e2e2 url('../img/bg-elements.jpg');
	padding: 150px 0 100px;
	@media (max-width: $bp-medium) {
		padding: 100px 0 50px;
	}

	&__body {
		display: flex;
		align-items: center;
	}

	&__info {
		@media (min-width: $bp-large) {
			width: 50%;
		}
	}

	&__photo {
		width: 50%;
		perspective: 500px;
		@media (max-width: $bp-large) {
			display: none;
		}
	}

	&__title {
		font-size: 75px;
		line-height: 1.2;
		margin: 0 0 5px;
		@media (max-width: $bp-small) {
			font-size: 50px;
		}
	}

	&__subtitle {
		color: $secondary-color;
		font-weight: 500;
		font-size: 24px;
		line-height: 1;

	}
}

.ba-photo-container {
	animation-name: spin;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin: 0 auto;
	border-radius: 50%;
	background: url('../img/intro-rotate.png') 50% 35% no-repeat;
	background-size: 70%;
	height: 300px;
	width: 300px;
	border: 10px solid #4D4D4D;
}

@keyframes spin {
	from {
		transform:rotateY(0deg);
	}
	to {
		transform:rotateY(360deg);
	}
}

.ba-button--intro {
	margin-right: 20px;
}

// about

.ba-about {
	padding: 60px 0 40px;
	p {
		text-align: justify;
	}

	&__info {
		img {
			display: block;
			float: right;
			margin-left: 30px;
			@media (max-width: $bp-large) {
				margin-left: 0;
				float: none;
				width: 100%;
			}
		}

	}

	&__title {
		display: inline-block;
		font-size: 46px;
		margin: 0 0 20px;
		letter-spacing: 0.05em;
		line-height: 1.2;
		border-top: 4px solid $text-color;

	}
}

.ba-button--about {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}

// professional

.ba-professional {
	background: #cee1ce url('../img/bg-board.jpg');
	padding: 60px 0;

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__title {
		text-align: center;
	}
}

.ba-education,
.ba-experience {
	background: rgba(255, 255, 255, 0.6);
	padding: 20px 30px 20px 10px;
	width: 48%;

	@media (max-width: $bp-medium) {
		width: 100%;
	}

	li + li {
		margin-top: 20px;
	}
}
@media (max-width: $bp-medium) {
	.ba-experience {
		margin-top: 20px;
	}
}

// sliders

.ba-gallery {
	padding: 20px 0 40px;
	text-align: center;

	&__title {
		font-size: 46px;
		border-top: 4px solid $text-color;
		display: inline-block;
		line-height: 1.2;
		@media (max-width: $bp-medium) {
			font-size: 30px;
		}


	}
}

.ba-slider-arrows {
	margin-top: 40px;
}

.ba-slide,
.ba-slide3,
.ba-slide2,
.ba-slide4  {
	margin-right: 20px;
	img {
		display: block;
	}
}



.ba-slider-prev,
.ba-slider-next {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}
.ba-slider-next4,
.ba-slider-prev4,
.ba-slider-next3,
.ba-slider-prev3,
.ba-slider-next2,
.ba-slider-prev2 {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}

// students

.ba-students {
	background: #e2e2e2 url('../img/bg-elements.jpg');
	padding: 60px 0;
	text-align: center;

	&__title {
		font-size: 46px;
		margin: 0 0 30px;
		border-top: 4px solid $text-color;
		display: inline-block;
		line-height: 1.2;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__col {
		width: 20%;
		text-align: center;
		perspective: 500px;
		@media (max-width: $bp-medium) {
			width: 50%;
		}
	}

	&__link-text {
		display: inline-block;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 500;
		padding: 0 20px 10px;
		border-bottom: 2px solid transparent;
		margin: 0;
		@media (max-width: $bp-medium) {
			font-size: 14px;
		}

	}
	&__link {
		text-decoration: none;
		color: $text-color;

		&:hover .ba-students__link-text {
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
			transition: color 1s;
		}
		&:hover .ba-students__icon {
			transform: rotateX(180deg);
			transition: transform 1.5s ease-in-out;
		}
	}

	&__icon {
		display: inline-block;
		svg {
			fill: currentColor;
			width: 60%;
		}
		transform: rotateX(0deg);
		transition: transform 1.5s ease-in-out;
	}
}

// materials

.ba-materials {
	padding: 60px 0 80px;
	background-color: $text-color;
	color: #FFF;
	text-align: center;
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__title {
		font-size: 46px;
		text-align: center;
		margin: 0 0 30px;
		border-top: 4px solid #fff;
		display: inline-block;
		line-height: 1.2;
	}
	&__col {
		width: 15%;
		text-align: center;
		perspective: 500px;
		@media (max-width: $bp-large) {
			width: 30%;
		}
	}

	&__link-text {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		padding: 0 0 10px;
		border-bottom: 2px solid transparent;
		margin: 0;
		@media (max-width: $bp-medium) {
			font-size: 14px;
		}

	}
	&__link {
		text-decoration: none;
		color: #fff;

		&:hover .ba-materials__link-text {
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
			transition: color 1s;
		}
		&:hover .ba-materials__icon {
			transform: rotateX(180deg);
			transition: transform 1.5s ease-in-out;
		}
	}
	&__icon {
		display: inline-block;
		svg {
			fill: currentColor;
			width: 60%;
		}
		transform: rotateX(0deg);
		transition: transform 1.5s ease-in-out;
	}
}

// documents

.ba-documents {
	padding: 60px 0;
	background: #e2e2e2 url('../img/bg-elements.jpg');
	text-align: center;
}

.ba-stats {
	padding: 60px 0;
	text-align: center;
	background-color: #e2e2e2;
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__icon {
		svg {
			fill: currentColor;
			width: 60%;
		}
	}
	&__col {
		width: 20%;
		@media (max-width: $bp-medium) {
			width: 50%;
			margin-bottom: 20px;
		}
	}

	&__info {
		font-size: 24px;
		margin: 0;
		line-height: 1.2;
		@media (max-width: $bp-medium) {
			font-size: 18px;
		}
	}
}


// contact

.ba-contact {
	background: $text-color url("../img/contact.jpg") 50% no-repeat;
	background-size: cover;
	color: #FFF;
	text-align: center;
	padding: 60px 0 0;
	&__title {
		font-size: 46px;
		margin: 0 0 50px;
		border-top: 4px solid #fff;
		display: inline-block;
		line-height: 1.2;
		@media (max-width: $bp-medium) {
			font-size: 30px;
		}
	}
	&__form {
		display: block;
		margin: 0 auto 50px;
		@media (min-width: $bp-medium) {
			max-width: 770px;
		}

	}

}

.ba-contact-form__row {
	display: inline-block;
	float: left;
	width: 100%;
	height: 50px;
	border: none;
	line-height: 50px;
	padding-left: 10px;
	color: $text-color;
	margin-bottom: 5px;
	@media (min-width: $bp-medium) {
		width: 48%;
		& + & {
			margin-left: 10px;
		}
	}

	&:focus {
		outline: none;

		&::placeholder {
			color: #fff;
		}
	}
}

[type="email"] {
	float: right;
}
.ba-contact-form__row--textarea {
	display: block;
	width: 100%;
	resize: none;
	border: none;
	line-height: 50px;
	padding-left: 10px;
	color: $text-color;
	margin: 20px 0 30px;


	&:focus {
		outline: none;

		&::placeholder {
			color: #fff;
		}
	}
}

.ba-button--contact {
	color: #FFF;
	border: 1px solid #fff;
}

.ba-footer {
	border-top: 2px solid #fff;
	padding: 10px 0 20px;
	&__copyright {
		line-height: 1;
		@media (max-width: $bp-medium) {
			font-size: 10px;
		}
	}

}

.ba-author {
	display: inline-block;
	font-size: 22px;
	color: #FFF;
	text-decoration: none;
	border: 2px solid transparent;
	@media (max-width: $bp-medium) {
		font-size: 14px;
	}

	&:hover {
		border-bottom: 2px solid $secondary-color;
		color: $secondary-color;
	}
}



.cbalink {
	display: none !important;
}

