@import "normalize.scss";
@import "slick";
@import "layout.scss";


@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&subset=cyrillic');

$body-font: 'Oswald', sans-serif;;
$text-color: #4d4d4d;
$secondary-color: #00bd08;

body{
	font: 400 16px/1.6 $body-font;
	color: $text-color;
}


/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	height: 50px;
	border: 1px solid $text-color;
	background: none;
	line-height: 50px;
	text-decoration: none;
	color: $text-color;
	padding: 0 30px;
	color: $text-color;
	letter-spacing: 0.05em;
	font-weight: 500;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	color: $secondary-color;
	border: 1px solid transparent;
	background: #FFF;
	color: $text-color;
	box-shadow: 17px -6px 26.68px 2.32px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header {
	background-color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 5px;
	z-index: 10;
}

.ba-logo {
	float: left;
	width: 10%;
}

.ba-nav {
	float: right;
	width: 60%;
	padding-top: 17px;
}

.ba-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;

	li {
		display: inline-block;
	}

	a {
		text-decoration: none;
		color: $text-color;
		padding: 5px;
		letter-spacing: 0.05em;

		&:hover {
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
		}
	}
}

.ba-intro {
	background: #e2e2e2 url('../img/bg-elements.jpg');
	padding: 150px 0 100px;

	&__body {
		display: flex;
		align-items: center;
	}

	&__info {
		width: 50%;
	}

	&__photo {
		width: 50%;
	}

	&__title {
		font-size: 90px;
		line-height: 1.2;
		margin: 0 0 5px;
	}

	&__subtitle {
		color: $secondary-color;
		font-weight: 500;
		font-size: 24px;
		line-height: 1;

	}
}

.ba-photo-container {
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin: 0 auto;
	border-radius: 50%;
	background: url('../img/intro-rotate.png') 50% 35% no-repeat;
	background-size: 70%;
	height: 300px;
	width: 300px;
	border: 10px solid #4D4D4D;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.ba-button--intro {
	margin-right: 20px;
}

.ba-about {
	padding: 100px 0;

	&__info {
	img {
		display: block;
		float: right;
		margin-left: 30px;
	}

	}

	&__title {
		font-size: 46px;
		margin: 0 0 20px;
		letter-spacing: 0.05em;
		line-height: 1.2;
		position: relative;

		&:before {
			content: '';
			height: 4px;
			width: 250px;
			position: absolute;
			left: 0;
			top: -20px;
			background-color: $text-color;
		}
	}
}

.ba-button--about {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}

// professional

.ba-professional {
	background: #cee1ce url('../img/bg-board.jpg');
	padding: 80px 0;

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		text-align: center;
	}
}

.ba-education,
.ba-experience {
	background: rgba(255, 255, 255, 0.6);
	padding: 30px 20px;
	width: 48%;

	li + li {
		margin-top: 20px;
	}
}


// sliders

.ba-gallery {
	padding: 40px 0;
	text-align: center;

	&__title {
		font-size: 46px;
		position: relative;
	}
}

.ba-slider-arrows {
	margin-top: 40px;
}

.ba-slide {
	padding: 0 10px;
	img {
		display: block;
	}
}

.ba-slider-prev,
.ba-slider-next {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}

// students

.ba-documents {
	padding: 60px 0 80px;
	background-color:  #e2e2e2;
}

.ba-students {
	background-color:  #e2e2e2;
	padding: 60px 0 80px;

	&__title {
		font-size: 46px;
		text-align: center;
		margin: 0 0 50px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__col {
		width: 20%;
		text-align: center;
		perspective: 500px;
	}

	&__link-text {
		display: inline-block;
		font-size: 24px;
		font-weight: 500;
		padding: 0 20px 10px;
		border-bottom: 2px solid transparent;
		margin: 0;

	}
	&__link {
		text-decoration: none;
		color: $text-color;

		&:hover .ba-students__link-text {
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
			transition: color 1s;
		}
		&:hover .ba-students__icon {
			transform: rotateX(180deg);
			transition: transform 1.5s ease-in-out;
		}
	}

	&__icon {
		display: inline-block;
		svg {
			fill: currentColor;
			width: 60%;
		}
		perspective: 700px;
		transform: rotateX(0deg);
		transition: transform 1.5s ease-in-out;
	}
}
.ba-works {
	width: 25%;
	text-align: center;
	&__col {
		text-align: center;
		perspective: 500px;
		margin: 0 auto;
	}
}

.ba-exams {
	width: 75%;
	text-align: center;
	&__col {
		width: 30%;
		text-align: center;
		perspective: 500px;
	}
	&__body {
		display: flex;
		justify-content: flex-end;


	}
}

.ba-themes {
	width: 50%;
	text-align: center;
}

.ba-slide2 {
	margin-right: 20px;
}

.ba-slider-next2,
.ba-slider-prev2 {
	&:hover {
		background-color: $text-color;
		color: #FFF;
		box-shadow: none;
	}
}
